<header>
  <div class="p-5 text-center bg-image mb-4" style="
      background-image: url('../assets/images/header.jpg');
      height: 100%;
      background-size: cover;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 p-4">{{ title }}</h1>
          <h4 class="mb-3">Assign students to projects for specific time rates</h4>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

